<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211701587452-9k3fld4ma0nn7ua35pdn5mfbdpbe1bng.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211701587452-9k3fld4ma0nn7ua35pdn5mfbdpbe1bng</string>
	<key>API_KEY</key>
	<string>AIzaSyBHClXRxHWj6vYyXEIcu5-kr4e_jZT1EnI</string>
	<key>GCM_SENDER_ID</key>
	<string>211701587452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.practice.Instagram-clone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-4b7f9</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-4b7f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211701587452:ios:ddad570c762d23c5c12679</string>
</dict>
</plist>